.dot {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.dot span {
    -webkit-animation: blink 0.5s infinite both;
    animation: blink 0.5s infinite both;
}

.dot span:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.dot span:nth-child(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

@-webkit-keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}
